@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  background-color: #3533cd;
  background: linear-gradient(to right, #000000 2%, #3533cd);
}

span {
  font-weight: bold;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  width: 100%;
  color: white;
}

input {
  width: 95%;
  max-width: 900px;
  padding: 15px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 10px;
}

select:not(.team-mgr-filter) {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

button:not(.btn-home,.btn-delete,.btn-edit-menu,.btn-edit,.btn-exit,.logout-btn,.btn-login) {
  font-size: 22px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 100%;
  max-width: 750px;
  transition: 0.3s;
  color: white;
}

@media (max-width: 1024px) {
  body {
    font-size: 18px;
  }

  input, select {
    font-size: 18px;
    padding: 12px;
  }

  button:not(.btn-home,.btn-delete,.btn-edit-menu,.btn-edit,.btn-exit,.logout-btn,.btn-login) {
    font-size: 20px;
    padding: 12px 25px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  span {
    font-size: 22px;
  }

  input, select {
    font-size: 16px;
    padding: 10px;
  }

  button:not(.btn-home,.btn-delete,.btn-edit-menu,.btn-edit,.btn-exit,.logout-btn,.btn-login) {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 14px;
  }

  span {
    font-size: 18px;
  }

  input, select {
    font-size: 14px;
    padding: 8px;
    width: 100%;
  }

  button:not(.btn-home,.btn-delete,.btn-edit-menu,.btn-edit,.btn-exit,.logout-btn,.btn-login) {
    font-size: 16px;
    padding: 8px 15px;
  }
}